

<h1><%= @puppy.pet_name %></h1>
<p><%= @puppy.pet_desc %></p>
<h3><% if @puppy.pet_avail == true %>
    <%= "I'm still available!!" %>
    <% else %>
    <%= "I'm off to my furever home, but please check out my friends!!" %></h3>
    <% end %>

<form action="/adoptables/<%= @puppy.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @puppy.owner == current_user%>
    <button type="submit">Delete Pup</button>
    <% end %>
</form>


